@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --AppBg: #f7f7f7;
  --brand-color: #8b55f5;
  --brand-color-2: #f16fa1;

  --dark-color: rgb(15 23 42);
  --dark-color-box: rgba(20, 42, 59, 0.835);
  --dark-text: rgb(148 163 184);
  --border-width: -2px
}

html,
body {
  font-family: 'Roboto Slab';
  scroll-behavior: smooth;

}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

html ::-webkit-scrollbar-track {
  background: var(--AppBg);
}

/* Track */
html.dark ::-webkit-scrollbar-track {
  background: #030712;
}

/* Handle */
html ::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 50px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #1e1e43;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5b687380;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #132535;
}

.small-header {
  animation: animate-header-dashboard linear both;
  animation-range: 230px 500px;
  /* apply for firefox */
  animation-timeline: scroll(root);
  /* apply for chrome, safari and opera */
  animation-timeline: scroll(document);


  background: initial;
  opacity: 0;
  height: 0;
  transform: translateY(-100%);
  z-index: 1;
}

@keyframes animate-header-dashboard {
  to {
    opacity: 1;
    backdrop-filter: blur(12px);
    /* box-shadow: 1px 1px 100px 0px rgba(0, 0, 0, 0.083); */
    height: initial;
    transform: translateY(0);
  }
}

.experience {
  animation: animate-experience linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 18%;
  opacity: 0.5;
  transform: scale(0.5);
}

@keyframes animate-experience {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.project {
  animation: animate-project linear both;
  animation-timeline: view();
  animation-range: entry 18% cover 22%;
  opacity: 0.5;
  transform: scale(0.5);
  transform: skew(10px);
}

@keyframes animate-project {
  to {
    opacity: 1;
    transform: scale(1);
    transform: skew(0deg, 0deg);
  }
}

.mobile-sidebar.active {
  display: block;
}

.mobile-sidebar {
  display: none;
}

.modile-sidebar-container {
  animation: animate-mobile-sidebar linear both;
  opacity: 0.6;
  transform: translateX(-100%);
  animation-duration: 400ms;
}

@keyframes animate-mobile-sidebar {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


/*  */

.education-item {
  position: relative;
}

.education-item::before {
  content: '';
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: -2px;
  top: -2px;
  z-index: -1;
}

.education-item::after {
  content: '';
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: -2px;
  top: -2px;
  z-index: -2;
  filter: blur(20px);
}

.education-item::after,
.education-item::before {
  background: linear-gradient(45deg, #8b55f5, #f16fa1);
  opacity: 0.2;
  border-radius: inherit;
  /* transition: all 0.3s ease-in-out; */
  transition: all 3s ease-in-out;
}

/* ANIMATED BORDER */

.animatedBorder {
  position: relative;
  background: transparent;
}

.animatedBorder[data-border="thin"] {
  --border-width: -1px;
}

.animatedBorder[data-border="small"] {
  --border-width: -2px;
}

.animatedBorder[data-border="big"] {
  --border-width: -4px;
}


.animatedBorder[data-blur="none"] {
  --border-blur: 0px;
}

.animatedBorder[data-blur="thin"] {
  --border-blur: 5px;
}

.animatedBorder[data-blur="small"] {
  --border-blur: 10px;
}

.animatedBorder[data-blur="big"] {
  --border-blur: 20px;
}


.animatedBorder::before,
.animatedBorder::after {
  content: '';
  position: absolute;
  left: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  top: var(--border-width);
  background-color: #fff;
}

.animatedBorder::before {
  z-index: -1;
}

.animatedBorder::after {
  z-index: -2;
  background-color: #fff;
  filter: blur(var(--border-blur, 10px));
}

.animatedBorder::after,
.animatedBorder::before {
  background: linear-gradient(245deg, #8b55f5, #f16fa1);
  opacity: 0;
  border-radius: inherit;
  transition: opacity 0.4s ease-in-out;
}

.animatedBorder:hover::before,
.animatedBorder:hover::after {
  opacity: 1;
}